# filepath: /home/student/ColonSuperPoint/.dockerignore
.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
data/
models/
logs/

ColonExperiments/datasets/*
ColonExperiments/datasets/Dataset_II/*
ColonExperiments/datasets/dataset_001_002/*
ColonExperiments/datasets/HPatches/*
ColonExperiments/notebooks/warped_pairs/
weights/*
.github/instructions/instructions.instructions.md
weights/superpoint_v6_from_tf.pth
ColonExperiments/notebooks/warped_pairs/*
superpoint/settings.py
ColonExperiments/saved_models/*